<p>Hello</p>
<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <span>Application Title</span>
        
          <!-- This fills the remaining space of the current row -->
          <span class="example-fill-remaining-space"></span>
        
          <span>Right Aligned Text</span>
        </mat-toolbar>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{reason}}</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
